// Specific CSS for your home-page
.container a:link {
    text-decoration: none;
    font-size: xx-large;
    padding: 5px;
    color: white;
}

.container a:visited {
    text-decoration: none;
    font-size: xx-large;
    padding: 5px;
    color: white;
}
