// Specific CSS for your home-page
#index-card-text a:link {
    text-decoration: none;
    font-size: xx-large;
    padding: 5px;
    color: white;
}

#index-card-text a:visited {
    text-decoration: none;
    font-size: xx-large;
    padding: 5px;
    color: white;
}
