// Specific CSS for your home-page
#index-card-text a:link {
    text-decoration: none;
    font-size: smaller;
    text-align: center;
    text-align: center;
    color: rgb(0, 0, 0);
}

#index-card-text a:visited {
    text-decoration: none;
    font-size: x-large;
    padding: 5px;
    text-align: center;
    color: rgb(0, 0, 0);
}

h1 {
    font-family: "Inter";
}
