<div class="container mb-3">
  <h1 class="text-center my-4">Browse Our Glorious Thrones</h1>
  <div class="cards" id="index-card-text">
    <% @toilets.each do |toilet| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path(toilet.photo.key) %>)">
        <%= link_to toilet.name, toilet_path(toilet) %>
      </div>
    <% end %>
  </div>
</div>
