.btn-custom {
  background-color: #9C5D5D;
  color: white;
  padding: 3px 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, border-color 0.3s ease;
  font-size: 15px;
}

.btn-review-custom {
  background-color: #ddae68;
  color: white;
  padding: 8px 25px;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, border-color 0.3s ease;
  font-size: 15px;
}

.btn-review-custom:hover {
  background-color: #F7F4F4;  /* Change background to white on hover */
  color: #ddae68;  /* Change text color to the original background color */
  border-color: #ddae68;  /* Add a thin border of the original color */

}

.btn-custom:hover {
  background-color: #f7f7f7; /* Change the background color on hover */
  border: 1px solid #9C5D5D;
  color:  #9C5D5D;
  cursor: pointer; /* Show the hand cursor on hover */
}


.btn-form-custom {
  background-color: #9C5D5D;
  color: white;
  padding: 3px 10px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, border-color 0.3s ease;
  font-size: 15px;
}

.btn-form-custom:hover {
background-color: #f7f7f7; /* Change the background color on hover */
border: 1px solid #9C5D5D;
color:  #9C5D5D;
cursor: pointer; /* Show the hand cursor on hover */
}
