.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#add-toilet {
  // font-weight: bold;
}

.navbar-brand {
  width: 40px;
}

.navbar-logo {
  height: 40px; /* Adjust as needed */
  width: auto;
}

@media (max-width: 576px) {
  .navbar-logo {
    height: 30px; /* Smaller logo on small screens */
  }
}
